<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
    <!-- xiaoMing,实现最基本bean配置 -->
    <bean id="xiaoMing" class="com.spring.Himma"></bean>




    <!-- xiaoHong,通过构造器注入 -->
    <bean id="xiaoHong" class="com.spring.Himma">
        <constructor-arg value="300"></constructor-arg>
    </bean>
    
    <!-- xiaoHong,通过构造器注入,指定参数类型。-->
    <!-- 如果构造函数都只有一个参数，一个类型为String,一个类型为int,那么Spring将会调用参数类型为String的构造函数 -->
    <!--
    <bean id="xiaoHong" class="com.spring.Himma">
        <constructor-arg type="int" value="300"></constructor-arg>
    </bean>    
    -->
    
    
    
    
    <!-- xiaoGang,通过构造器注入多参数，默认按构造器参数顺序，也可以指定顺序 -->
    <bean id="xiaoGang" class="com.spring.Himma">
        <constructor-arg value="300"></constructor-arg>
        <constructor-arg value="20"></constructor-arg>
    </bean>
    
    <!-- xiaoGang,指定参数顺序的构造器注入-->
    <!-- 
    <bean id="xiaoGang" class="com.spring.Himma">
        <constructor-arg value="300" index="0"></constructor-arg>
        <constructor-arg value="20" index="1"></constructor-arg>
    </bean>
    -->

    

    

</beans>
